doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    script(async='', src='https://cdn.ampproject.org/v0.js')
    include styles
  body
    .es-wrapper-color
      table.es-wrapper(width='100%', cellspacing='0', cellpadding='0')
        tbody
          tr
            td(valign='top')
              table.es-content(cellspacing='0', cellpadding='0', align='center')
                tbody
                  tr
                    td(style='background-color: #fafafa', bgcolor='#fafafa', align='center')
                      table.es-content-body(style='background-color: #ffffff', width='600', cellspacing='0', cellpadding='0', bgcolor='#ffffff', align='center')
                        tbody
                          tr
                            td.es-p40t.es-p20r.es-p20l(style='\
                            background-color: transparent;\
                            background-position: left top;\
                            ', bgcolor='transparent', align='left')
                              table(width='100%', cellspacing='0', cellpadding='0')
                                tbody
                                  tr
                                    td(width='560', valign='top', align='center')
                                      table(style='background-position: left top', width='100%', cellspacing='0', cellpadding='0', role='presentation')
                                        tbody
                                        block emailContent
              table.es-footer(cellspacing='0', cellpadding='0', align='center')
                tbody
                  tr
                    td(style='background-color: #fafafa', bgcolor='#fafafa', align='center')
                      table.es-footer-body(width='600', cellspacing='0', cellpadding='0', bgcolor='#ffffff', align='center')
                        tbody
                          tr
                            td.es-p10t(style='background-color: #0b5394', bgcolor='#0b5394', align='left')
                              table(width='100%', cellspacing='0', cellpadding='0')
                                tbody
                                  tr
                                    td(width='600', valign='top', align='center')
                                      table(width='100%', cellspacing='0', cellpadding='0', role='presentation')
                                        tbody
                                          tr
                                            td.es-p5b(align='center')
                                              p(style='font-size: 14px; color: #ffffff')
                                                | Powered by AI & SD
                                                a(target='_blank', style='\
                                                font-size: 14px;\
                                                text-decoration: none;\
                                                color: #ffffff;\
                                                ')